<!DOCTYPE html>
<!-- PinCode - Responsive Premium Landing Page Template design by DSA79 (http://www.dsathemes.com) -->
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>i

    <!-- Basic -->
    <meta charset="utf-8">
    <title>Artificial Intelligence System for next generation Agriculture - Turachi</title>
    <meta name="author" content="Techyard">
    <meta name="keywords" content="Artificial Intelligence, Agricultural Intelligence">
    <meta name="description" content="Enabling Agriculture with reliable, relevant and micro level information">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Libs CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/flexslider.css" rel="stylesheet">

    <!-- On Scroll Animations -->
    <link href="/static/css/animate.css" rel="stylesheet">

    <!-- Template CSS -->
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- Custom Colors -->
    <!-- <link href="css/darksalmon.css" rel="stylesheet"> -->
    <!-- <link href="css/dimgray.css" rel="stylesheet"> -->
    <!-- <link href="css/green.css" rel="stylesheet"> -->
    <!-- <link href="css/honeydew.css" rel="stylesheet"> -->
    <!-- <link href="css/palevioletred.css" rel="stylesheet"> -->
    <!-- <link href="css/skyblue.css" rel="stylesheet"> -->
    <!-- <link href="css/tomato.css" rel="stylesheet"> -->
    <!-- <link href="css/wheat.css" rel="stylesheet">  -->
    <!-- <link href="css/yellow.css" rel="stylesheet"> -->

    <!-- Responsive CSS -->
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon.png">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,400italic,300italic,300,100italic,100'
          rel='stylesheet' type='text/css'>
</head>

<body>


<!-- PRELOADER
    ============================================= -->
<div id="preloader">
    <div id="status"></div>
</div>


<!-- HEADER
    ============================================= -->
<header id="header">
    <div class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <!-- Responsive Menu -->
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navigation-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Logo Image -->
                <!--<img src="img/icons/logo_180x180.png" class="navbar-brand">-->
                <a id="LogoLink" class="navbar-brand" href="#intro">Ag<span class="base-color">Ni</span></a>

            </div>

            <!-- Navigation Menu -->
            <nav id="navigation-menu" class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="GoToHome" class="selected-nav" href="#intro">Home</a></li>
                    <li><a id="purchase" href="#subscribe">Preview</a></li>
                </ul>
            </nav>
            <!-- End nav-collapse -->

        </div>
        <!-- End container -->
    </div>
    <!-- End navbar -->
</header>
<!-- END HEADER -->


<!-- CONTENT WRAPPER
    ============================================= -->
<div id="content-wrapper">


<!-- INTRO
    ============================================= -->
<section id="intro">
    <div class="container">
        <div class="row">
            <!-- Intro Description -->
            <div id="intro_description" class="col-sm-7">
                <h1>AI Systems for<br/>
                    <span style="color: #3cbea7">next generation Agriculture</span></h1>

                <p style="color: white;">
                    Enabling Agriculture with Reliable, Relevant and Micro Level Information.
                </p>
                <!-- Intro Buttons -->
                <a id="GoToMainContent" href="#features" class="btn btn-theme">Discover More</a>
                <a id='GoToSub' href="#subscribe" class="btn btn-theme">Request Preview</a>
            </div>
            <!-- Intro Image -->
            <div id="intro_image" class="col-sm-5 text-center">
                <img class="img-responsive" src="/static/img/thumbs/phones.png" alt="image"/>
            </div>
        </div>
        <!-- End row -->
    </div>
    <!-- End container -->
</section>
<!-- END INTRO -->


<!-- FEATURES
    ============================================= -->
<!--<section id="features">
    <div class="container">

        &lt;!&ndash; Section Tittle &ndash;&gt;
        <div class="row">
            <div class="col-sm-12 titlebar">
                <h1>Why CloudGust?</h1>
                <p>Learn how CloudGust SaaS Platform can help...</p>
            </div>
        </div>

        &lt;!&ndash; Features Holder &ndash;&gt;
        <div id="features-holder" class="row" style="text-align:  center">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/LAYvlWO7c3M?rel=0" frameborder="0" allowfullscreen></iframe>

        </div>
        &lt;!&ndash; End Features Holder &ndash;&gt;

    </div>
    &lt;!&ndash; End container &ndash;&gt;
</section>-->
<!-- END FEATURES -->


<!-- VIDEO BANNER
    ============================================= -->
<!--<section id="video_banner">
    <div class="container">

        &lt;!&ndash; Section Title &ndash;&gt;
        <div class="row">
            <div class="col-sm-12 titlebar text-center">
                <h1>Watch Our App Video Review</h1>

                <p>You can embed vimeo video or youtube video here for your product demo or any other video that builds
                    user trust.</p>
            </div>
        </div>

        &lt;!&ndash; Banner Video &ndash;&gt;
        <div class="row">
            <div id="v_banner_video" class="col-md-8 col-md-offset-2">
                <div class="video-block">
                    <iframe src="http://player.vimeo.com/video/69988283" width="370" height="250"></iframe>
                </div>

                <div class="video-description">
                    <p>
                        Integer quis justo laoreet, venenatis enim vel, tincidunt libero. Vestibulum ante ipsum primis
                        in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Phasellus quis nisi vehicula, cursus purus at, fermentum sem. Class aptent taciti sociosqu ad
                        litora torquent per conubia nostra, per inceptos himenaeos.
                        Mauris blandit congue pharetra ollicitudin, at adipiscing est venenatis. Ut augue massa.
                    </p>
                </div>
            </div>
        </div>

    </div>
    &lt;!&ndash; End container &ndash;&gt;
</section>-->
<!-- END VIDEO BANNER -->





<!--<hr />-->


<!-- NEWSLETTER
    ============================================= -->
<div id="newsletter" class="parallax">
    <div class="parallax-overlay">
        <div id="subscribe" class="container">
            <div class="row">

                <div id="newsletter_title" class="col-md-6 text-center">
                    <h1>Request Preview</h1>
                    <p>Please email contact@cloudgust.com and our team will get it touch for live demo and consultation.</p>
                </div>

                <!-- Newsletter Form -->
                <!--<div id="newsletter_form" class="col-md-6 text-center">
                    <div class="clearfix">
                        <div id="subscribe-form" class="subscribe-form">
                            <div id="emailbody">
                                <input type="email" id="email" name="email" class="subscribe-input"
                                       placeholder="Enter your e-mail address...">
                                <button type="button" id="subscribe-submit" class="subscribe-submit">Submit</button>
                            </div>
                            <div id="textbody" style="display: none">
                                <p style="font-size: large">Thanks for contacting us. Our team will get in touch soon.</p>
                            </div>

                        </form>
                    </div>
                </div>

            </div>-->
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
</div>
<!-- END NEWSLETTER -->


<!-- FOOTER
    ============================================= -->
<footer id="footer">
    <div class="container">

        <!-- Footer Social Icons -->
        <div class="row">
            <div id="footer_icons" class="col-md-12 text-center">
                <ul class="footer-socials clearfix">
                    <li><a class="foo_social ico-facebook" href="https://www.facebook.com/thecloudgust"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="foo_social ico-twitter" href="https://twitter.com/TheCloudGust"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a class="foo_social ico-linkedin" href="http://www.linkedin.com/company/cloudgust/"><i class="fa fa-linkedin"></i></a></li>
                    <!--<li><a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>-->


                    <!--<li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
                        <li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
                        <li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
                        <li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
                        <li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
                        <li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
                        <li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
                        <li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
                        <li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>	-->

                </ul>
            </div>
        </div>
        <!-- End Footer Social Icons -->

        <!-- Footer Copy -->
        <div class="row">
            <div id="footer_copy" class="col-sm-12 text-center">
                <p>&copy; Techyard Systems Pvt.Ltd. All Right Reserved</p>
            </div>
        </div>
        <!-- End Footer Copy -->

    </div>
    <!-- End container -->
</footer>
<!-- END FOOTER -->


</div>
<!-- END CONTENT WRAPPER -->


<!-- EXTERNAL SCRIPTS
    ============================================= -->

<script src="/static/js/jquery-2.1.0.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/static/js/jpreloader.js" type="text/javascript"></script>
<script src="/static/js/modernizr.js" type="text/javascript"></script>
<script src="/static/js/jquery.easing.js" type="text/javascript"></script>
<script src="/static/js/retina.js" type="text/javascript"></script>
<script src="/static/js/jquery.parallax-1.1.3.js" type="text/javascript"></script>
<script defer src="/static/js/count-to.js"></script>
<script defer src="/static/js/jquery.appear.js"></script>
<script src="/static/js/waypoints.min.js" type="text/javascript"></script>
<script src="/static/js/owl.carousel.js" type="text/javascript"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script defer src="/static/js/jquery.flexslider.js" type="text/javascript"></script>
<script defer src="/static/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/static/js/animations.js" type="text/javascript"></script>
<script src="/static/js/custom.js" type="text/javascript"></script>

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif] -->


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54131638-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
